.error-section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9f9f9;
    color: #5a1e1e;
  }
  
  .error-section p,
  .error-section h1 {
    color: #5a1e1e;
    margin-bottom: 1.6rem;
  }
  
  .error-section a,
  .error-section button {
    color: #ffffff;
    background-color: #c62828;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 5px;
    border: none;
    font-weight: 500;
    transition: background-color 0.3s ease;
    text-decoration: none; /* optional: removes underline from <NavLink> */
  }
  
  .error-section a:hover,
  .error-section button:hover {
    background-color: #a32020;
  }
  